@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 0.32rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 0.32rem;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

input {
  -webkit-appearance: none;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html,
body,
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1rem;
  background: yellow;
}

.header ul {
  display: flex;
  width: 100%;
  height: 1rem;
  align-items: center;
}

.header ul li {
  font-size: 25px;
  flex: 1;
  text-align: center;
}

.header ul .one {
  color: red;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner .swiper-slide {
  width: 100%;
  height: 100%;
  background: red;
}
